.bg-image-background {
    background-image: url(./imgs/FUNDO-MAIN.jpg);
    background: cover no-repeat;
    

}

.bg-footer {
  background: url(./imgs/FUNDO-FOOTER.jpg) center top/cover no-repeat;
  height: 1000px;
 
}

.bg-footer-single-color{
  background-color: rgb(31,41,33);
}

.campo-pesquisa {
    width: 300px;
    padding: 12px;
    font-size: 16px;
    border-width: 2px;
    border-color: #26eade;
    background-color: #FFFFFF;
    color: #000000;
    border-style: solid;
    border-radius: 21px;
    box-shadow: 0px 0px 5px rgba(4,4,4,.75);
    text-shadow: 0px 0px 0px rgba(66,66,66,.0);

    
}


.btn-rickNext,.btn-rickPrev  {
    background:#00ffff;
  background:    linear-gradient(#00ffff, #00ff00);
  border:        1px solid #556699;
  border-radius: 1000px;
  padding:       10px 35px;
  color:         #fafafa;
  display:       inline-block;
  font:          normal bold 16px/1 "Komika", cursive;
  text-align:    center;
  text-shadow:   1px 1px #000000;
  transition: all 0.2s ease;
  cursor: pointer;
  }
  .chars-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .card-custom {
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.58);
    border: 1px solid white;
    box-shadow: 5px 5px 5px rgba(91, 228, 12, 0.886);
    backdrop-filter: blur(6px);
    border-radius: 17px;
    cursor: pointer;
    transition: all 0.5s;
    align-items: center;
    justify-content: center;
    user-select: none;
    font-weight: bolder;
    color: rgb(255, 255, 255);
    overflow: hidden;
    padding: 1rem;
    margin: 1rem;
    width: 300px;
    display: flex;
    flex-direction: column;
      
  }


  .statusColor {
    display: inline-block;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    box-shadow: #000000 1px 1px 5px;
    margin: none;
  }
  .dead {
    background-color: red;
  }
  .alive {
    background-color: rgb(7, 247, 7);
  }
  .unknown {
    background-color: lightgray;
  }


  /* animação */

  .box-animation {
    position: relative;
    width: 300px;
    height: 300px;
    margin: 0 auto;
    border: 3px solid transparent;
  }
  
  .top-1,
  .bottom-2,
  .left-3,
  .right-4 {
    
    -webkit-animation: 8s linear infinite;
            animation: 8s linear infinite;
  }
  .top-1 {    
    -webkit-animation-name: top;
            animation-name: top;
  }
  @-webkit-keyframes top-1 {
    25% {
      width: 0;
      background: #ffdb00;
    }
    38% {
      width: calc(103%);
      background: #ffdb00;
    }
    50% {
      background: #ffdb00;
    }
    62% {
      background: #ffdb00;
    }
    75% {
      width: calc(103%);
      background: #ffdb00;
    }
    88% {
      left: auto;
      right: -3px;
      width: 0;
      background: #ffdb00;
    }
  }
  
  .bottom-2 {
    
    -webkit-animation-name: bottom;
            animation-name: bottom;
  }
  @-webkit-keyframes bottom-2 {
    0% {
      width: 0;
    }
    12% {
      width: calc(103%);
      background: #ffdb00;
    }
    25% {
      background: #ffdb00;
    }
    38% {
      background: #ffdb00;
    }
    50% {
      width: calc(103%);
      background: #ffdb00;
    }
    62% {
      left: -3px;
      width: 0;
      background: #ffdb00;
    }
    75% {
      background: #ffdb00;
    }
  }
  
  .left-3 {
    
    -webkit-animation-name: left;
            animation-name: left;
  }
  @-webkit-keyframes left-3 {
    12% {
      height: 0;
      background: #ffdb00;
    }
    25% {
      height: calc(103%);
      background: #ffdb00;
    }
    38% {
      background: #ffdb00;
    }
    50% {
      background: #ffdb00;
    }
    62% {
      height: calc(103%);
      background: #ffdb00;
    }
    75% {
      top: -3px;
      height: 0;
      background: #ffdb00;
    }
    88% {
      background: #ffdb00;
    }
  }
  
  .right-4 {
    
    -webkit-animation-name: right;
            animation-name: right;
  }
  @-webkit-keyframes right-4 {
    38% {
      height: 0;
      background: #ffdb00;
    }
    50% {
      height: calc(103%);
      background: #ffdb00;
    }
    62% {
      background: #ffdb00;
    }
    75% {
      background: #ffdb00;
    }
    88% {
      height: calc(103%);
      background: #ffdb00;
    }
    100% {
      top: auto;
      bottom: -3px;
      height: 0;
      background: #ffdb00;
    }
  }
  